<header class="section">
  <div class="container box has-background-light">
    <h1 class="title">Kenjo Albums Webapp</h1>
  </div>
</header>
<router-outlet></router-outlet>
<footer
  id="footer"
  class="container box footer has-background-light mt-6"
>
  <div class="content has-text-centered">
    <p>
      Made by <span class="has-text-weight-bold">Manuel Ridao</span>. Source
      code at
      <a href="https://github.com/mridpin/angular-scaffold" target="blank">GitHub</a>
    </p>
    <p>
      <a href="https://bulma.io" target="blank">
        <img
          src="./assets/made-with-bulma.png"
          alt="Made with Bulma"
          width="192"
          height="36"
        />
      </a>
    </p>
  </div>
</footer>
